<form action="{% url 'car:add_service'%}" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <label>Name:</label>
          <br>
          <input type="text" name="name" required=true>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <label>Country:</label>
          <br>
          <input type="text" name="country" required=true>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <label>City:</label>
          <br>
          <input type="text" name="city" equired=true>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <label>Street:</label>
          <br>
          <input type="text" name="address" required=true>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <label>Number:</label>
          <br>
          <input type="number" name="number" required=true>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <label>Promo description:</label>
          <br>
          <textarea name="promo_description" cols="86" rows="3" required=true></textarea>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button type="submit" value="add_service" onclick="" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </form>