{% extends 'base.html' %}

{% block content %}
  <br>
  <br>
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="container" style="text-align:center;">
        <div class="row">
          <div class="col">
            <div id="month"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="weeks"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="days"></div>
          </div>
        </div>
      </div>
        <script>
          Highcharts.chart('month', {
              chart: {
                  type: 'column'
              },
              title: {
                text: 'Car reservations by month'
              },
              plotOptions: {
                  series: {
                      label: {
                          connectorAllowed: false
                      },
                      pointStart: 1
                  }
              },
              yAxis: {
                  title: {
                      text: 'Number of Cars'
                  }
              },
              series: [{
                  name: 'Number of Cars',
                  data: {{rset_months}},
                  color: 'purple'
              }]
          });
          Highcharts.chart('weeks', {
              chart: {
                  type: 'column'
              },
              title: {
                text: 'Car reservations by week'
              },
              plotOptions: {
                  series: {
                      label: {
                          connectorAllowed: false
                      },
                      pointStart: 1
                  }
              },
              yAxis: {
                  title: {
                      text: 'Number of Cars'
                  }
              },
              series: [{
                  name: 'Number of Cars',
                  data: {{rset_weeks}},
              }]
          });
          Highcharts.chart('days', {
              chart: {
                  type: 'column'
              },
              title: {
                text: 'Car reservations by day'
              },
              plotOptions: {
                  series: {
                      label: {
                          connectorAllowed: false
                      },
                      pointStart: 1
                  }
              },
              yAxis: {
                  title: {
                      text: 'Number of Cars'
                  }
              },
              series: [{
                  name: 'Number of Cars',
                  data: {{rset_days}},
                  color: 'orange'
              }]
          });
        </script>
      </div>
    </div>
  <div class="col-md-3"></div>
{% endblock content %}