{% extends 'base.html' %}

{% block content %}
  <br>
  <br>
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="container" style="text-align:center;"></div>
        <script>
          Highcharts.chart('container', {
              chart: {
                  type: 'column'
              },
              title: {
                  text: 'Rentals'
              },
              xAxis: {
                  categories: ['2016', '2017', '2018', '2019']
              },
              series: [{
                  name: 'Godina',
                  data: {{ godina }},
                  color: 'purple'
              }
            ]
          });
        </script>
        <a class="btn btn-default" href="{% url 'car:car_home' %}">home</a>
      </div>
    </div>
  <div class="col-md-3"></div>
{% endblock content %}
