{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ user.profile.pic.url }}" style="max-width:100%; max-height:100%;" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h3>
                    <span>{{ user.username }}</span>
                </h3>
                <p class="proile-rating">RANK : <span>Beginer Traveler (ovde kao nesto u zavisnosti od bonusa)</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">Friends</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <form action="{%url 'user:profile_edit'%}" method="get" style="position:relative; z-index: 10000;">
                {% csrf_token %}
                <input type="submit" value="Edit Profile" class="profile-edit-btn" name="btnAddMore" />
            </form><br>
            <form action="{%url 'user:profile_pass_change'%}" method="get" style="position:relative; z-index: 10000;">
                {% csrf_token %}
                <input type="submit" value="Change Pass" class="profile-edit-btn" name="btnAddMore" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>MANAGE FRIENDS</p>
                <a href="{%url 'user:profile_people_list'%}">Add a Friend</a><br />
                <a href="{%url 'user:profile_friend_requests'%}">Friendship Requests</a><br />
                <a href="{%url 'user:profile_unfriend'%}">Unfriend</a><br />

                <p>ACTIVITY</p>
                <a href="{%url 'user:profile_initations'%}">Trip Invitation</a><br />
                <a href="">Rate your Flight</a><br />
                <a href="">Rate your Stay</a><br />
                <a href="">Rate your Car</a><br />

                <p>HISTORY</p>
                <a href="">Flights</a><br />
                <a href="">Hotel Reservations</a><br />
                <a href="">Car Reservations</a><br />
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.id }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.profile.phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>City</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.profile.city }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Bonus</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.profile.bonus }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <ul class="list-unstyled">
                        {% for profile in q_profiles %}
                        <li class="row">
                            <div class="carousel-info">
                                <img alt="" src="{{ profile.pic.url }}" class="pull-left">
                                <div class="pull-left">
                                    <span class="testimonials-name">{{ profile.user.first_name }}
                                        {{profile.user.last_name }}</span>
                                    <span class="testimonials-post">{{ profile.user.email }}</span>
                                </div>
                            </div>


                        </li>
                        {% endfor %}
                    </ul>



                    <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}