{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'user:registration_submit' %}" method="post">
    {% csrf_token %}
    <div>username:</div>
    <input type="text" name="username" required=true>
    </br>
    <div>email:</div>
    <input type="email" name="email" required=true>
    </br>
    <div>password:</div>
    <input type="password" name="password1" required=true>
    </br>
    <div>repeat password:</div>
    <input type="password" name="password2" required=true>
    </br>
    <div>first name:</div>
    <input type="text" name="first_name" required=true>
    </br>
    <div>last name:</div>
    <input type="text" name="last_name" required=true>
    </br>
    <div>city:</div>
    <input type="text" name="city" required=true>
    </br>
    <div>phone number:</div>
    <input type="text" name="phone_number" required=true>
    </br>
    <button name="sign_in" type="submit" value="sign in" onclick="" class="btn btn-primary">Sign in</button>
  </form>
{% endblock content %}
