<!DOCTYPE html>
<html>

<head>
    <title>My Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>


    {% block base_head %}
    {% endblock base_head %}

    <style>
        #map {
            height: 360px;
            width: 100%;
        }
    </style>

</head>

<body style="overflow-x: hidden;">



    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark navbar-static-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline navbar-right">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
            </form>
    </nav> -->

    <nav class="navbar navbar-inverse navbar-expand" style="border-radius:0%;">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="{% url 'user:home' %}">FlyCarSleep</a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                {% if perms.user.is_car_admin %}
                    <li class="active">
                        <a href="{% url 'car:edit_service' %}">
                            <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp; MyService
                        </a>
                    </li>
                {% elif perms.user.is_hotel_admin %}
                    {% if hotel %}
                    <li class="active">
                        <a href="{% url 'hotels:admin_view_hotel' hotel.id %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; MyHotel
                        </a>
                    </li>
                    {% endif %}
                {% elif perms.user.is_flight_admin %}
                    <li class="active">
                        <a href="{% url 'car:edit_service' %}">
                            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp; MyAvioCompany
                        </a>
                    </li>
                {% elif perms.user.is_master_admin %}
                    <li class="active">
                        <a href="{% url 'car:edit_service' %}">
                            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp; PROMENI URL
                        </a>
                    </li>
                {% elif user.is_authenticated %}
                    <li class="active">
                        <a href="{% url 'avio:search_avio' %}">
                            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp; Book A Flight
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'hotels:view_hotels' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Book A Place
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'car:choose_service' %}">
                            <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp; Book A Ride
                        </a>
                    </li>
                {% endif %}
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="#">

                {% csrf_token %}
                {% block search %}                
                {% endblock search %}

                </form>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'user:profile' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Profile
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'user:logout_submit' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                    {% else %}
                    <li class="">
                        <a href="{% url 'user:registration_submit' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Register
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'user:login_submit' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Login
                        </a>
                    </li>
                    {% endif %}

                </ul>

            </div>

        </div>
    </nav>

    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="index.html" class="navbar-brand">Home</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a href="#" class="nav-item active nav-link">Quem somos</a>
                    </li>
                    <li>
                        <a href="#" class="nav-item active nav-link">Nossa história</a>
                    </li>
                    <li>
                        <a href="#" class="nav item active nav-link">Localidades</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nossos serviços</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Divisão Militar</a>
                            <a href="#" class="dropdown-item">Divisão Corporativa</a>
                            <a href="#" class="dropdown-item">Aplicações para a área de saúde</a>
                        </div>
                    </li>
                </ul>
    
                <form action="#" method="post" class="form-inline my-2 mylg-0 navbar-right">
                    <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Buscar em todo o site" aria-label="Buscar">
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
            </div>
        </nav> -->

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <div class="row">
        <div class="col-md-1"> {% block avio_search %}
            {% endblock avio_search %}</div>
        <div class="col-md-10">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>