{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Finished reserving flight!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    Need transport at your destination? We're here to help!
                    See discounted prices for rent-a-car services, only available now.
                    Now that you've booked a hotel, we give you a {{discount}} for this service.
                    Guaranteed quality of service.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-primary" href="#">Ride now!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    Or you can just finish you reservation package immediately. Your choice.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-primary" href="#">Finalize :(</a>
        </div>
    </div>
</div>
{% endblock content %}
